.index footer{
    width: 100%;
    border-top:0.01rem solid #B6B6B6 ;
    padding: 0.3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;
}
.index footer a{
    width: 0.8rem;
    height: 1rem;
    text-align: center;
    font-size: 0.25rem;
    color: #000;
}
.index footer img{
    width: 0.6rem;
    height: 0.6rem;
}
.index footer .select{
    color: #FF9A00; 
}